body {
	text-align: center;
	background-color: palegreen;
	font-family: Roboto Condensed;
}

.cir {
	padding: 50px;
	margin: 5%;
	background-color: lightyellow;
	border-radius: 15px;
}

img {
	width: 30%;
}

h1 {
	color: seagreen;
}